<%- include("./partials/head") %>


  <body>
    <%- include ("./partials/header") %>
      <main>
        <h2>query</h2>

        <article>
          <% celulares.forEach(celular=> { %>

            <ul>
              <a href="/editar/<%= celular.id %>">
              <li>
                 editar
              </li>
            </a>
              <li>
                <%= celular.nombre %>
              </li>
              <li>
                <%= celular.precio %>
              </li>
            </ul>

            <% }) %>


        </article>
        <section>
          <h2>realize la busqueda por precio minimo</h2>
          <form action="/search" method="get">
            <input type="text" name="search">
            <input type="submit" value="search">
          </form>


        </section>

      </main>
  </body>

  </html>